#play {
	background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

	width: 40%;
	height: 40%;

	position: absolute;
	top: 30%;
	left: 30%;

	background-color: rgba(0, 0, 0, 0);
	border: none;
	opacity: 0.7;

	display: none;
}

#wrapper {
  height: 100%;
  
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
}

#wrapper:hover > #play {
	/*background-color: green;*/
	display: initial;
}
